html,
body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.inner-container {
  margin: 0em 2.5em;
  color: #fff;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: #292b2e;
  padding: 0.5em 1em;
  align-items: center;

  .menu-button {
    display: inline;
    border: none;
    text-decoration: none;
    background-color: #212529;
    margin-left: 0.1em;
    margin-right: 0;
    padding: 0.2em 0.8em;
    transition: all 0.5s;

    .menu-icon {
      width: 2.4em;
      height: 0.4em;
      background-color: #ffb742;
      margin: 0.4em 0;
    }
  }
}
// @media screen {
  
@media(max-width:800px){
   .container{
    margin: 0%;
    padding: 0%;
    display: block;
    display: flex;
    font-size: 50%;
    .achor .links{
      margin: 0%;
      padding-right: 20px;
      display: flex;
    }
  
   }
}
@media(max-width:800px){
  .inner-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 40px;
    
  }
}
@media(max-width:800px){
  .hero{
    article{
      margin-left: 50px;
    }
  }
}
@media(max-width:800px){
  .about-me{
    margin: 0%;
    padding: 0%; 
    figure{
      display: none;
    }
  }
}

@media(max-width:800px){
  .skills{
    display: block;
    padding: none;
       .text{
      display: block;
      margin-left: 200px;
      padding: none;
      p{
        margin: 0%;
        padding-right: 0%;
      
      }
    }
    .icons{
      display: none;
    }

  }
}
@media(max-width:800px){
  .Works{
    display:block;
    .my-works{
    margin: 0px;
    }
    .work-space{
      .two{
        position: relative;
        left: -40px;
      }
    }
  }
}
@media(max-width:800px){
  .footer{
    font-size: 60%;
  }
}
.menu-button:hover {
  background-color: #0b0b0b;
  transform: translateX(1em);
}

.links {
  font-size: 1.2em;
  // margin-top: 1%;
  // padding: 0%;
  // margin-left: 0%;
   margin: 1.2em 12em ;

  a {
    padding: 0.1em 2.0em;
    margin-left: 1.1em;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.1em solid #ffb742;
    border-radius: 1em;
    transition-duration: 1s;
  }
}

.links a:hover {
  background-color: #ffb742;
  color: #0b0b0b;
}

.hire {
  text-decoration: none;
  border: none;
  color: black;
  background-color: #ffb742;
  border-radius: 1.6em;
  height: 0%;
  padding: 0.8em 2.4em;
  margin-right: 0%;
  transition: all 0.5s;
}

.hire:hover {
  background-color: #0b0b0b;
  color: #f8f8f7;
  transform: translateX(0.8em);
}


.hero {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 3.75em 0px;
  article{
      color: white;
  }
  

  img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    transition-duration: 1s;
  }

  img:hover {
    border-radius: 25%;
  }
}

.activements {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 6.25em;
  margin-left: -0.9em;

  button {
    background-color: #292b2e;
    border: 0.1em solid #292b2e;
    padding: 0.4em 3.75em;
    margin-left: 1.25em;
    border-radius: 0.6em;
    transition: all 0.5s;

    img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      position: relative;
      left: -20px;
      top: 8px;
    }
  }
}

.activements button:hover {
  transform: translateY(10px);
  background-color: #0b0b0b;
}

.exp {
  display: flex;
  

  div {
    color: white;

    h1 {
      color: #ffb742;
    }
  }
}

.projects {
  display: flex;

  div {
    color: white;

    h1 {
      color: #ffb742;
    }
  }
}

.clients {
  display: flex;

  div {
    color: white;

    h1 {
      color: #ffb742;
    }
  }
}

.about-me {
  display: flex;

  .avatar {
    .title {
      padding: 10px 25px;
      background-color: #292b2e;
      color: #ffb742;
      text-decoration: none;
      border: none;
      border-radius: 15px;
      font-size: large;
      font-weight: bold;
      margin-bottom: 5px;
    }
    h1 {
      font-size: 40px;
      margin: 0;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }
  img {
    width: 300px;
    position: relative;
  }
}

.avatar {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: -30px;
}

.skills {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  .icons {
    button {
      padding: 10px 25px;
      background-color: #292b2e;
      color: #ffb742;
      text-decoration: none;
      border: none;
      border-radius: 15px;
      font-size: large;
      font-weight: bold;
      margin-bottom: 5px;
    }
   
    figure {
      margin: 0;
      margin-left: -22px;
      display: inline-block;
    }

    img {
      width: 400px;
    }
  }
  .text{
      padding-right: 200px;
       h1 {
      font-size: 40px;
      margin: 0;
      margin-bottom: 5px;
      padding-right: 20px;
    }

    p {
      margin: 0;
      padding-right: 0px;
    }
  }
}

.Works {
  background-color: #0b0b0b;
  border-radius: 0px 0px 0 0 ;

  .button-1 {
    margin-left: 490px;
    margin-bottom: 20px;
  }

  .my-works {
    display: inline;
    padding: 10px 20px;
    background-color: #eceef1;
    color: #ffb742;
    border: 20px soild #292b2e;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 500px;
    position: relative;
    top: -20px;
  }

  button {
    padding: 10px 20px;
    background-color: #292b2e;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #ffb742;
  
  }
}

.paypal {
  img {
    width: 600px;
    margin: 0px 250px;
  }
}

.form-color {
  display: flex;
  justify-content: center;
  position: relative;
  left: -30px;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.img-1 {
  img {
    width: 300px;
    margin-right: 40px;
  }
}

.img-2 {
  img {
    width: 359px;
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #ffb742;
  text-decoration: underline;
}

.Works {
  article {
    margin-top: 80px;
    position: relative;
    top: -40px;
    left: -30px;

    .icon {
      font-size: 60px;
      transition: all 0.5s;
    }
  }
}

.icon:hover {
  transform: translateY(15px);
}

.work-space {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;

  .two {
    margin-left: 200px;
    margin-right: 20px;
  }

  .one {
    margin-left: 100px;
  }
}

.footer {
  margin-top: 20px;

  .one {
    color: #ffb742;
  }
}

.footer {
  .two {
    p {
      color: #ffb742;
    }
  }
}

.footer {
  .three {
    p {
      color: #ffb742;
    }
  }
}

.work-space a:hover {
  color: rgb(250, 251, 245);
  text-decoration: underline;
}
