body{
  background-color: #212529;
  color: white;
}
.container-fluid{
  flex-direction: row-reverse;
  margin-left: 1%;
}


nav{
  background-color: rgba(245, 245, 245, 0.909);
}
.hero{
  display: flex;
  flex-flow: row wrap;
  margin: 3% 2%;
  align-items: center;
}
.hero-text{
  padding: 2% 2%;
}
.about-me{
  margin: 2% 2% ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media(max-width:900px){
  .about-me{
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    
  }
}
@media(max-width:900px){
  .hero {
    text-align: center;
    justify-content: center;
  }
}
@media(max-width:900px){
  .skills {
    text-align: center;
    justify-content: center;
  }
}
@media(max-width:900px){
  .three{
    display: none;
  }
}
@media(max-width:900px){
  .one-1 .icon{
    margin-left: 30px;
    
  }
}
.aboutMe-text{
  width: 80%;
}
.skills{
   display: flex;
   flex-flow: row wrap;
   margin-left: 2%;

}
.skills-text{
  width: 60%;
  margin-left: 2%;
}
.my-works{
  text-align: center;
  margin: 2% 2%;
  font-size: 3em;
  color: black;
}
.work-space{
  margin: 2% 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.Works{
  background-color: whitesmoke;
}
.icon{
  font-size: 5.5em;
  transition: all 0.5s;
}
.icon:hover{
  transform: translateY(10px);
}

.work-space a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.work-space a:hover{
  text-decoration: overline;
}

.footer{
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
}
.avatar-pic{
  border-radius: 10%;
  border: none;
  background-color: #212529;
}
.proflie-pic{
  border-radius: 10%;
  border: none;
  background-color: #212529;
}
.icon-pic{
  border-radius: 2%;
  border: none;
  background-color: #212529;
}
.h3 {
  color: #FFB742;
}
.h5{
  color: #FFB742;
}




